<div class="card">
         <p> Total No of Posts : {{posts.length}}</p>
         {{#each posts as |post|}}
         <p> Id : {{post.id}}</p>
         <p> Caption : {{post.captions}}</p>
         <p> Likes : {{post.likes}}</p>
         {{/each}}
</div>
