
        .btn-light{
            background-color: lightgrey;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .table-container{
            display:table;
            width:100%;
            padding:10px 20px;
            overflow: visible;
        }
        .tableRow{
            display:table-row;        
        }
        .tableRow:hover{
            background-color:lightsteelblue;
            
        }
        .tableCell{
            display:table-cell;
            border: transparent;
            box-shadow: 0.6px;
            word-wrap: break-word;
            width: 1fr;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
        }
        .tableHeader{
            display: table-row;
            background-color: black;
            font-size: medium;
            color: whitesmoke;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            box-shadow: 2px 2px 2px 2px;
            
        }
        .tableBody{
            display:table-row-group;
            width: 100%;
    
        }
        
        .avatar{
            vertical-align: middle;
            width: 50px;
            height:50px;
            
        }
        .inactiveUser{
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-color: #db3911;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #c01b1b 0 2px 12px;
          }

        .activeUser{
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-color: #ABFF00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
          }
          .text{
            font-size: medium;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
          .cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
            grid-gap: 20px;
            padding-top: 10px;
          
        }
        
        .card {
            display: grid;
            grid-template-rows: max-content 1fr 1fr;
            padding-top: 10px;
        }
        
        .avatar{
            vertical-align: middle;
            width: 50px;
            height:50px;
            
        }

        .avatar-lg{
            vertical-align: middle;
            width: 145px;
            height: 145px;
        }
            